Manager

<script>
    var user_id = '1'
    let socket = new WebSocket('ws://127.0.0.1:9999/ws/order/manager/?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbl90eXBlIjoiYWNjZXNzIiwiZXhwIjoxNjgxMDk4MjM5LCJpYXQiOjE2ODEwOTc5MzksImp0aSI6ImFiOTg2OWFjMjRkODRhMWI5MWExNTc0ZTQ1NjUxZjllIiwiZW1haWxfaWQiOiJtYW5hZ2VyQGdtYWlsLmNvbSJ9.7nT9lcjkrzG-aQQZY1-rqzG4L-h4Aa3v6NOhDJtBdM8');
    socket.onopen = function (e) {
      console.log('Connection established!');
    };
  
    socket.onmessage = function (e) {
      var data = JSON.parse(e.data)
      console.log(data)
    };
    socket.onclose = function (e) {
      console.log('Connection closed');
    };
  
   
  
    
  
  </script>